<%# Header %>
<div class="container">
  <div class="row">
    <div class="col text-center py-5">
      <h1 class="display-3">Coffee Roasts</h1>
    </div>
  </div>
</div>
<%# Content %>
<div class="container">
  <div class="row">
    <%@inventories.each do |i|%>
      <div class="col-3">
        <div class="card my-2">
        <%# IF item is on sale image will have text on it %>
          <%if i.inventory.new_inventory%>
            <img src="#" alt="On Sale" class="card-img-top">
          <%else%>
            <img src="#" alt="Regular" class="card-img-top">
          <%end%>
          <div class="card-body">
            <h5 class="card-title">
              <a href="/inventories/<%=i.id%>" class="text-decoration-none" title="<%=i.inventory.item_name%>">
                <%=(i.inventory.item_name).truncate(36, :separator => ' ')%>
              </a>
            </h5>
          </div>
          <div class="card-footer">
            <p class="card-text">
              <%if i.inventory.new_inventory%>
                $<%=(i.inventory.retail_total/1.2).round(2)%><br>
              <%else%>
                $<%=(i.inventory.retail_total).round(2)%>
              <%end%>
            </p>
          </div>
        </div>
        <%# Card --END-- %>
      </div>
      <%# Col-sm --END-- %>
    <%end%>
  </div>
  <%# Row --END-- %>
  <div class="row mt-4">
  <div class="col-4"></div>
  <div class="col-4"><%= paginate @inventories%></div>
  <div class="col-4"></div>
  </div>
</div>
<%# Container --END-- %>


