<h1>PCR Inventory</h1>
<%= paginate @inventories%>
<% @inventories.each do |i|%>
  <div>
    <img src="#" alt="coffee img">
    <li><%=i.inventory.item_name%></li>
    <%if i.inventory.new_inventory%>
      <li>Price: <%= (i.inventory.retail_total/1.2).round(2)%></li>
      <li>Product is on sale!</li>
    <%else%>
      <li>Price: <%= (i.inventory.retail_total).round(2)%></li>
    <%end%>
  </div>
  <a href="/inventories/<%=i.id%>">Details</a>
<%end%>