<%# Header %>
<div class="container">
  <div class="row">
    <div class="col text-center py-5">
      <h1 class="display-3">Coffee Brand search results for: <br><%= params[:keywords]%></h1>
    </div>
  </div>
</div>
<%# Container --END-- %>
<%# Content %>
<div class="container mb-4">
  <div class="row">
    <% @inventories_results.each do |result|%>
      <div class="col-3">
        <div class="card my-2">
        <%if result.image.present?%>
          <%if !(result.new_inventory)%>
            <%= image_tag i.image, class:"card-img-top", alt:"On Sale Item" %>
            <div class="card-img-overlay">
              <h5 class="card-title">On Sale</h5>
            </div>
          <%else%>
            <img src="#" alt="Regular" class="card-img-top">
          <%end%>
        <%else%>
          <img src="#" alt="No Image" class="card-img-top">
        <%end%>
          <div class="card-body">
            <h5 class="card-title">
              <a href="/inventories/<%=result.id%>" class="text-decoration-none" title="<%=result.item_name%>">
                <%=(result.item_name).truncate(36, :separator => ' ')%>
              </a>
            </h5>
          </div>
          <%# Card Body --END-- %>
          <%# Card Footer %>
          <div class="card-footer">
            <div class="card-text">
              <%if !(result.new_inventory)%>
                <%=number_to_currency (result.retail_total/1.2), precision: 2%>
              <%else%>
                <%=number_to_currency (result.retail_total), precision: 2%>
              <%end%>
            </div>
          </div>
        </div>
        <%# Card --END-- %>
      </div>
    <%end%>
  </div>
  <%# Row --END-- %>
</div>
<%# Container --END--%>