<%# Header %>
<div class="container">
  <div class="row">
    <div class="col text-center py-5">
      <h1 class="display-3"><%=@inventory.inventory.item_name%></h1>
    </div>
  </div>
</div>
<%# Content %>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-text">
        <h5 class="card-title text-center">
        Coffee Quality Institute Review
        </h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Aroma</th>
              <th scope="col">Flavor</th>
              <th scope="col">Acidity</th>
              <th scope="col">Country of Origin</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><%=@inventory.aroma%>/10</th>
              <th><%=@inventory.flavor%>/10</th>
              <th><%=@inventory.acidity%>/10</th>
              <th><%=@inventory.country_of_origin%></th>
              <%if !(@inventory.inventory.new_inventory)%>
                <th><%=number_to_currency (@inventory.inventory.retail_total/1.2), precision: 2%></th>
              <%else%>
                <th><%=number_to_currency (@inventory.inventory.retail_total), precision: 2%></th>
              <%end%>
            </tr>
            <tr class="text-center">
              <td colspan="5">
                <%= link_to "Back to products...", inventories_path, class:"text-decoration-none"%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%5.times do%>
<div class="container mb-5 text-light">text</div>
<%end%>