<%# Reference: https://mdbootstrap.com/docs/standard/navigation/footer/ %>
<%# Footer %>
<footer class="text-center text-white fixed-bottom" style="background-color:#E8E8E8;">
  <%# Grid Container %>
  <div class="container p-4 pb-0">
    <%# Footer Navigation Icons %>
    <section class="mt-0 mb-1">
      <%# Home Page %>
      <%= link_to icon("fa-solid", "house"), root_path, class: "btn btn-floating m-1", title: "Home"%>
      <%# About Us Page %>
      <%= link_to icon("fa-solid", "user"), about_path, class: "btn btn-floating m-1", title: "About Us"%>
      <%# Contact Us Page %>
      <%= link_to icon("fa-solid", "phone"), contact_path, class: "btn btn-floating m-1", title: "Contact Us"%>
      <%# Employees %>
      <%= link_to icon("fa-brands", "product-hunt"), inventories_path, class: "btn btn-floating m-1", title: "Products"%>
      <%# Inventories %>
      <%= link_to icon("fa-solid", "users"), employees_path, class: "btn btn-floating m-1", title: "Staff"%>
    </section>
    <%# Footer Navigation Icons --END-- %>
  </div>
  <%# Grid Container --END-- %>
  <%# Copyright Container %>
  <div class="text-center text-dark p-1" style="background-color: rgba(0,0,0,0.15);">
    &copy; Copyright: <%=link_to "PrincessCoffeeRoasters.com", root_path, class: "text-decoration-none"%>
  </div>
  <%# Copyright Container --END-- %>
</footer>
<%# Footer --END-- %>